.img-fluid.d-block.mx-auto.mb-5 {
  border-radius: 50%;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption {
  transition: all .5s ease;
  opacity: 0;
  background-color: rgba(24,188,156,.9);
}

